.news {
  font-size: 2rem;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
}

.news-header {
  width: 100%;
  min-height: 7rem;
  background-color: #111214;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
}

.logo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 5rem;
  color: #ddd;
  letter-spacing: 0.2rem;
}

.search-bar {
  position: relative;
}

.search-bar input {
  width: 25rem;
  height: 4rem;
  background-color: #060709;
  border: none;
  border-radius: 5rem;
  padding: 0 4rem 0 2rem;
  color: #ddd;
  transition: width 0.3s;
}

.search-bar input:focus {
  width: 35rem;
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.search-bar button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: #bbb;
  font-size: 1.8rem;
  cursor: pointer;
}

.news-content {
  display: flex;
  column-gap: 2rem;
  height: calc(100% - 16rem);
  padding: 0 2rem;
}

.navbar {
  width: 18rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.user {
  width: 100%;
  height: 20%;
  background-color: #111214;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  cursor: pointer;
}

.user img {
  width: 7rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.user p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  color: #ddd;
}

.categories {
  width: 100%;
  height: calc(80% - 2rem);
  background-color: #111214;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem;
}

.nav-heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(1.5rem, 2.5cqi, 3rem);
  color: #ddd;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.nav-link {
  font-size: 1.5rem;
  font-weight: 300;
  color: #ddd;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: flex;
  align-items: center;
}

.nav-link i {
  font-size: 1.7rem;
  margin-left: 1rem;
}

.news-section {
  /* 3つのパラメーターを受け取れる */
  width: clamp(30rem, 43cqi, 40%);
  height: 100%;
  border-radius: 1rem;
}

.headline {
  width: 100%;
  height: calc(50% - 2rem);
  background-color: #111214;
  border-radius: 1rem;
  margin-bottom: 2rem;
  position: relative;
}

.headline-title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 4rem 1rem 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: clamp(1.5rem, 1.8cqi, 3rem);
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 1rem 1rem;
}

.bookmark {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

.headline img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  opacity: 0.4;
}

.news-grid {
  width: 100%;
  height: 50%;
  background-color: #111214;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
}

.news-grid-item {
  width: 100%;
  height: 100%;
  min-height: 15rem;
  border-radius: 1rem;
  position: relative;
}

.news-grid-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 1rem;
  opacity: 0.5;
}

.news-grid-item h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem 3rem 1rem 1rem;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4rem;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  border-radius: 0 0 1rem 1rem;
}

.my-blogs {
  width: clamp(20rem, 27cqi, 28%);
  height: 100%;
  background-color: #111214;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  padding-bottom: 2rem;
}

.my-blogs-heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  color: #ddd;
  letter-spacing: 0.1rem;
  padding: 2rem;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.2rem;
  padding: 1.2rem;
}

.blog-post {
  flex: 0 1 calc(50% - 0.6rem);
  border-radius: 1rem;
  position: relative;
}

.blog-post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  opacity: 0.5;
}

.blog-post h3 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 1rem 1rem;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 1.6rem;
  color: #fff;
  overflow-wrap: break-word;
}

.post-buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.blog-post:hover .post-buttons {
  opacity: 1;
  visibility: visible;
}

.post-buttons button {
  background-color: transparent;
  border: none;
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
}

.weather-calender {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.news-footer {
  width: 100%;
  min-height: 5rem;
  background-color: #111214;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
}

.news-footer p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #ddd;
}

.news-footer p span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}

@media (max-width: 1400px) {
  .nav-links {
    row-gap: 1rem;
  }

  .news-section {
    overflow: hidden;
  }

  .news-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow-y: scroll;
  }

  .news-grid::-webkit-scrollbar {
    display: none;
  }

  .blog-posts {
    overflow-y: scroll;
  }

  .blog-posts::-webkit-scrollbar {
    display: none;
  }

  .blog-post {
    flex: 0 1 calc(100% - 0.6rem);
  }
}

@media (max-width: 1024px) {
  .news-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (max-width: 900px) {
  .news {
    height: 100%;
    overflow-y: scroll;
  }

  .news::-webkit-scroll {
    display: none;
  }

  .news-content {
    flex-direction: column;
    width: 100%;
    height: 200rem;
    row-gap: 2rem;
  }

  .navbar {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 18rem;
  }

  .user {
    width: calc(30% - 2rem);
    height: 100%;
  }

  .categories {
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }

  .nav-links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav-link {
    margin-right: 2rem;
  }

  .news-section {
    width: 100%;
  }

  .news-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .my-blogs {
    width: 100%;
  }

  .blog-post {
    flex: 0 1 calc(50% - 0.6rem);
  }

  .weather-calender {
    flex-direction: row;
    gap: 2rem;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: clamp(3.4rem, 2.8cqi, 4rem);
  }

  .weather-calender {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .news-header {
    padding: 0 2rem;
  }

  .logo {
    font-size: clamp(2.5rem, 2.8cqi, 3rem);
  }

  .search-bar input {
    width: 18rem;
  }

  .search-bar input:focus {
    width: 23rem;
  }

  .navbar {
    flex-direction: column;
    height: 30rem;
    margin-bottom: 2rem;
  }

  .user {
    width: 100%;
    min-height: 40%;
  }

  .user p {
    display: none;
  }

  .categories {
    width: 100%;
  }

  .nav-heading {
    display: none;
  }

  .news-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .news-footer {
    min-height: 8rem;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
  }
}
